name: test
on: 
  pull_request:
    paths:
      - 'dagster_meltano/**'
      - 'tests/**'

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          pip install ".[development]"
      - name: Run test suite
        run: |
          meltano install
          pytest